/* required styles */

.ricent-pane,
.ricent-tile,
.ricent-marker-icon,
.ricent-marker-shadow,
.ricent-tile-container,
.ricent-pane > svg,
.ricent-pane > canvas,
.ricent-pane > img,
.ricent-zoom-box,
.ricent-image-layer,
.ricent-layer {
	position: absolute;
	left: 0;
	top: 0;
}
.ricent-container {
	overflow: hidden;
}
.ricent-tile,
.ricent-marker-icon,
.ricent-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.ricent-safari .ricent-tile {
	image-rendering: -webkit-optimize-contrast;
}
/* hack that prevents hw layers "stretching" when loading new tiles */
.ricent-safari .ricent-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
}
.ricent-marker-icon,
.ricent-marker-shadow {
	display: block;
}
/* .ricent-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .ricent-container img: map is broken in FF if you have max-width: 100% on tiles */
.ricent-container .ricent-overlay-pane svg,
.ricent-container .ricent-marker-pane img,
.ricent-container .ricent-shadow-pane img,
.ricent-container .ricent-tile-pane img,
.ricent-container img.ricent-image-layer {
	max-width: none !important;
}

.ricent-container.ricent-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
}
.ricent-container.ricent-touch-drag {
	-ms-touch-action: pinch-zoom;
}
.ricent-container.ricent-touch-drag.ricent-touch-drag {
	-ms-touch-action: none;
	touch-action: none;
}
.ricent-tile {
	filter: inherit;
	visibility: hidden;
}
.ricent-tile-loaded {
	visibility: inherit;
}
.ricent-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 800;
}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.ricent-overlay-pane svg {
	-moz-user-select: none;
}

.ricent-pane         { z-index: 400; }

.ricent-tile-pane    { z-index: 200; }
.ricent-overlay-pane { z-index: 400; }
.ricent-shadow-pane  { z-index: 500; }
.ricent-marker-pane  { z-index: 600; }
.ricent-tooltip-pane   { z-index: 650; }
.ricent-popup-pane   { z-index: 700; }

.ricent-map-pane canvas { z-index: 100; }
.ricent-map-pane svg    { z-index: 200; }

.ricent-vml-shape {
	width: 1px;
	height: 1px;
}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
}


/* control positioning */

.ricent-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
}
.ricent-top,
.ricent-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
}
.ricent-top {
	top: 0;
}
.ricent-right {
	right: 0;
}
.ricent-bottom {
	bottom: 0;
}
.ricent-left {
	left: 0;
}
.ricent-control {
	float: left;
	clear: both;
}
.ricent-right .ricent-control {
	float: right;
}
.ricent-top .ricent-control {
	margin-top: 10px;
}
.ricent-bottom .ricent-control {
	margin-bottom: 10px;
}
.ricent-left .ricent-control {
	margin-left: 10px;
}
.ricent-right .ricent-control {
	margin-right: 10px;
}


/* zoom and fade animations */

.ricent-fade-anim .ricent-tile {
	will-change: opacity;
}
.ricent-fade-anim .ricent-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.ricent-fade-anim .ricent-map-pane .ricent-popup {
	opacity: 1;
}
.ricent-zoom-animated {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.ricent-zoom-anim .ricent-zoom-animated {
	will-change: transform;
}
.ricent-zoom-anim .ricent-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	-moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	-o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
	transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
}
.ricent-zoom-anim .ricent-tile,
.ricent-pan-anim .ricent-tile {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.ricent-zoom-anim .ricent-zoom-hide {
	visibility: hidden;
}


/* cursors */

.ricent-interactive {
	cursor: pointer;
}
.ricent-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
}
.ricent-crosshair,
.ricent-crosshair .ricent-interactive {
	cursor: crosshair;
}
.ricent-popup-pane,
.ricent-control {
	cursor: auto;
}
.ricent-dragging .ricent-grab,
.ricent-dragging .ricent-grab .ricent-interactive,
.ricent-dragging .ricent-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
}

/* marker & overlays interactivity */
.ricent-marker-icon,
.ricent-marker-shadow,
.ricent-image-layer,
.ricent-pane > svg path,
.ricent-tile-container {
	pointer-events: none;
}

.ricent-marker-icon.ricent-interactive,
.ricent-image-layer.ricent-interactive,
.ricent-pane > svg path.ricent-interactive {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
}

/* visual tweaks */

.ricent-container {
	background: #ddd;
	outline: 0;
}
.ricent-container a {
	color: #0078A8;
}
.ricent-container a.ricent-active {
	outline: 2px solid orange;
}
.ricent-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
}


/* general typography */
.ricent-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* general toolbar styles */

.ricent-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
}
.ricent-bar a,
.ricent-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}
.ricent-bar a,
.ricent-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.ricent-bar a:hover {
	background-color: #f4f4f4;
}
.ricent-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ricent-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}
.ricent-bar a.ricent-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
}

.ricent-touch .ricent-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
}


/* zoom control */

.ricent-control-zoom-in,
.ricent-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}
.ricent-control-zoom-out {
	font-size: 20px;
}

.ricent-touch .ricent-control-zoom-in {
	font-size: 22px;
}
.ricent-touch .ricent-control-zoom-out {
	font-size: 24px;
}


/* layers control */

.ricent-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
}
.ricent-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
}
.ricent-retina .ricent-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
}
.ricent-touch .ricent-control-layers-toggle {
	width: 44px;
	height: 44px;
}
.ricent-control-layers .ricent-control-layers-list,
.ricent-control-layers-expanded .ricent-control-layers-toggle {
	display: none;
}
.ricent-control-layers-expanded .ricent-control-layers-list {
	display: block;
	position: relative;
}
.ricent-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
}
.ricent-control-layers-scrollbar {
	overflow-y: scroll;
	padding-right: 5px;
}
.ricent-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
}
.ricent-control-layers label {
	display: block;
}
.ricent-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
}

/* Default icon URLs */
.ricent-default-icon-path {
	background-image: url(images/marker-icon.png);
}


/* attribution and scale controls */

.ricent-container .ricent-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
}
.ricent-control-attribution,
.ricent-control-scale-line {
	padding: 0 5px;
	color: #333;
}
.ricent-control-attribution a {
	text-decoration: none;
}
.ricent-control-attribution a:hover {
	text-decoration: underline;
}
.ricent-container .ricent-control-attribution,
.ricent-container .ricent-control-scale {
	font-size: 11px;
}
.ricent-left .ricent-control-scale {
	margin-left: 5px;
}
.ricent-bottom .ricent-control-scale {
	margin-bottom: 5px;
}
.ricent-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}
.ricent-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
}
.ricent-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
}

.ricent-touch .ricent-control-attribution,
.ricent-touch .ricent-control-layers,
.ricent-touch .ricent-bar {
	box-shadow: none;
}
.ricent-touch .ricent-control-layers,
.ricent-touch .ricent-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}


/* popup */

.ricent-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
}
.ricent-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
}
.ricent-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
}
.ricent-popup-content p {
	margin: 18px 0;
}
.ricent-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
}
.ricent-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ricent-popup-content-wrapper,
.ricent-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.ricent-container a.ricent-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}
.ricent-container a.ricent-popup-close-button:hover {
	color: #999;
}
.ricent-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.ricent-oldie .ricent-popup-content-wrapper {
	zoom: 1;
}
.ricent-oldie .ricent-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}
.ricent-oldie .ricent-popup-tip-container {
	margin-top: -1px;
}

.ricent-oldie .ricent-control-zoom,
.ricent-oldie .ricent-control-layers,
.ricent-oldie .ricent-popup-content-wrapper,
.ricent-oldie .ricent-popup-tip {
	border: 1px solid #999;
}


/* div icon */

.ricent-div-icon {
	background: #fff;
	border: 1px solid #666;
}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.ricent-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.ricent-tooltip.ricent-clickable {
	cursor: pointer;
	pointer-events: auto;
}
.ricent-tooltip-top:before,
.ricent-tooltip-bottom:before,
.ricent-tooltip-left:before,
.ricent-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Directions */

.ricent-tooltip-bottom {
	margin-top: 6px;
}
.ricent-tooltip-top {
	margin-top: -6px;
}
.ricent-tooltip-bottom:before,
.ricent-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
}
.ricent-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
}
.ricent-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
}
.ricent-tooltip-left {
	margin-left: -6px;
}
.ricent-tooltip-right {
	margin-left: 6px;
}
.ricent-tooltip-left:before,
.ricent-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
}
.ricent-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
}
.ricent-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
}


div.ricent-div-icon {
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 2px 2px 0px 2px;
    font-size: small;
    margin: 0px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: auto;
    background: '#fff';
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

div.ricent-div-icon div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 12px;
}

div.ricent-div-icon div div {
    display: block;
    font-size: xx-small;
}

div.legend-content {
    margin: 0px;
    padding: 0px;
}

div.legend-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 4px;
    border: solid 1px #000;
    margin-bottom: 0px;
}

div.ricent-div-icon div div.legend-box {
    width: 5px;
    height: 5px;
    max-height: 5px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 0px;
}

div.ricent-div-icon div div.key {
    margin: 2px 4px 0px 0px;
    font-weight: bold;
    line-height: 10px;
    display: inline-block;
}

.data-layer-legend div {
    display: inline-block;
    font-size: small;
}

.choropleth-text {
    font-size: x-small;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    text-align: center;
}

.scale-bars i {
    vertical-align: bottom;
    display: inline-block;
    background-color: silver;
    height: 14px;
}

.min-value, .max-value {
    vertical-align: middle;
    width: 50px;
}

.min-value {
    text-align: right;
    margin-right: 6px;
}

.max-value {
    text-align: left;
    margin-left: 6px;
}

.scale-value {
    text-align: center;
    position: relative;
}

.data-layer-legend {
    padding: 8px 0px;
}

.data-layer-legend .legend-box, .data-layer-legend .key {
    vertical-align: middle;
}

.scale-bars {
    vertical-align: middle;
    line-height: 10px;
}

.legend-title {
    font-weight: bold;
}

.ricent-popup-content {
    overflow: auto;
    max-height: 300px;
}

.palette-element {
    display: inline-block;
    width: 12px;
    height: 14px;
}

.ricent-control-legend {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    max-height: 70px;
    width: 268px;
    box-shadow: 0 1px 7px #999;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ricent-control-legend.larger {
    max-height: 50%;
    overflow: auto;
}

.ricent-control-legend .legend {
    padding: 10px;
}

.ricent-control-legend i {
    background-image: none;
    vertical-align: text-bottom;
}

.photo {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(100, 100, 100, 0.5);
    opacity: 0;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

img.photo {
    max-width: none;
}

.photo-info {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: absolute;
    top: 0px;
    color: white;
    margin: 2px;
}

.photo-link {
    float: right;
    height: 14px;
}

.author-link {
    margin-left: 2px;
    width: 400px;
    display: block;
    font-style: italic;
    font-weight: bold;
}

text.ricent-svg-text {
    text-anchor: middle;
    alignment-baseline: central;
    dominant-baseline: central;
}


/* =====
   bg
====== */
.ricent-bar a, .ricent-bar a:hover{
	width:30px;
	color: #ffffff;
}
.ricent-touch .ricent-control-layers, .ricent-touch .ricent-bar{
	border: 0;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.7);
}
/* ================================================================== */
/* Toolbars
/* ================================================================== */
.ricent-bar{
	background: rgba(0,0,0,0.85);
	overflow: visible;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.7);
	padding: 2px;
	color:white;
}

.ricent-bar a:hover{
	background-color:#0066ce;
	color:white;
	border: 0;
}

.ricent-bar a{
	background: transparent;
	width: 30px;
	opacity: 1;
	margin: 1px 0px 1px 0px;
	padding-bottom: 2px;
	border-radius: 3px;
	border: 0;
}
.ricent-bar a.ricent-disabled{
	background-color:rgba(0,0,0,.6);
	color: #666666;
}
.ricent-bar a.ricent-draw-toolbar-button-enabled{
	background-color:#0066ce;
	color:white;
}
.ricent-draw-section {
	position: relative;
}

.ricent-draw-toolbar {
	margin-top: 12px;
}

.ricent-draw-toolbar-top {
	margin-top: 0;
}

.ricent-draw-toolbar-notop a:first-child {
	border-top-right-radius: 0;
}

.ricent-draw-toolbar-nobottom a:last-child {
	border-bottom-right-radius: 0;
}

.ricent-draw-toolbar a,.ricent-draw-actions a{
	background-image: url('images/spritesheet.png');
	background-repeat: no-repeat;
}

.ricent-retina .ricent-draw-toolbar a,
.ricent-retina .ricent-draw-actions a,
a.ricent-control-fullscreen-button{
	background-image: url('images/spritesheet-2x.png');
	background-size: 270px 90px;
	width: 30px;
	opacity: 1;
	border-radius: 3px;
	border: 0;
}
.ricent-touch.ricent-retina .ricent-draw-toolbar a,
.ricent-touch.ricent-retina .ricent-draw-actions a{
	background-size: 540px 180px;
}
.ricent-draw a {
	display: block;
	text-align: center;
	text-decoration: none;
}
.ricent-touch .ricent-bar a{
	width: 45px;
	height: 45px;
	line-height: 45px;
}

/* ================================================================== */
/* Toolbar actions menu
/* ================================================================== */

.ricent-draw-actions {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 40px; /* ricent-draw-toolbar.left + ricent-draw-toolbar.width */
	top: 0;
	white-space: nowrap;
}
.ricent-draw-actions:after{
	border-left: 7px solid rgba(0,0,0,0.85);
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	position: absolute;
	top: 8px;
	right: -7px;
}
.ricent-touch .ricent-draw-actions:after{
	top: 15px;
}
.ricent-touch .ricent-draw-actions {
	left: 32px;
}

.ricent-right .ricent-draw-actions {
	right:46px;
	left:auto;
}

.ricent-touch .ricent-right .ricent-draw-actions {
	right:55px;
	left:auto;
}

.ricent-draw-actions div.action {
	display: inline-block;
}



.ricent-draw-actions{
	background-color: rgba(0,0,0,0.85);
	border-radius: 5px;
	padding: 5px 5px 0 5px;
}
.ricent-draw-actions a {
	color: #FFF;
	font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 24px;
	text-decoration: none;
	/*	padding-left: 10px;
        padding-right: 10px;
        height: 28px;*/
	display: block;
	height: 28px;
	width: 30px;
	padding: 0;
}
.action_colors a:hover{
	border: dashed 1px #ffffff!important;
}
.ricent-touch .ricent-draw-actions a {
	font-size: 12px;
	line-height: 45px;
	height: 45px;
	width: 45px;
}

.ricent-draw-actions-bottom {
	margin-top: 0;
}

.ricent-draw-actions-top {
	margin-top: 1px;
}

.ricent-draw-actions-top a,
.ricent-draw-actions-bottom a {
	height: 27px;
	line-height: 27px;
}

.ricent-draw-actions a:hover {
	background-color:#0066ce;
	color:white;
	border: 0;
}

.ricent-draw-actions-top.ricent-draw-actions-bottom a {
	height: 26px;
	line-height: 26px;
}

/* ================================================================== */
/* Draw toolbar
/* ================================================================== */

.ricent-draw-toolbar .ricent-draw-draw-polyline {
	background-position: 0px -60px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-polyline {
	/*background-position: 0px -60px;*/
	background-position: -8px -128px;
}

.ricent-draw-toolbar .ricent-draw-draw-polygon {
	background-position: -31px -60px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-polygon {
	/*background-position: -31px -60px;*/
	background-position:-68px -128px ;
}

.ricent-draw-toolbar .ricent-draw-draw-rectangle {
	background-position: -180px -30px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-rectangle {
	/*background-position: -60px -1px;*/
	background-position: -367px -69px;
}

.ricent-draw-toolbar .ricent-draw-draw-circle {
	background-position: -211px -30px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-circle {
	/*background-position: -90px -1px;*/
	background-position: -430px -67px;
}

.ricent-draw-toolbar .ricent-draw-draw-camera {
	background-position: -120px -2px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-camera {
	background-position: -248px -7px;
}

.ricent-draw-toolbar .ricent-draw-draw-shapes {
	background-position: -30px -32px;
}
.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-shapes {
	/*background-position: -29px -30px;*/
	background-position: -67px -69px;
}
.ricent-draw-toolbar .ricent-draw-draw-shapes.on-rectangle{
	background-position: -180px -32px;
}
.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-shapes.on-rectangle{
	background-position: -367px -68px;
}
.ricent-draw-toolbar .ricent-draw-draw-shapes.on-circle{
	background-position: -210px -32px;
}
.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-shapes.on-circle{
	background-position: -427px -68px;
}
.ricent-draw-toolbar .ricent-draw-draw-shapes.on-line{
	background-position: -240px -32px;
}
.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-shapes.on-line{
	/*background-position: -240px -30px;*/
	background-position: -486px -68px;
}
.ricent-draw-toolbar .ricent-draw-draw-arrow{
	background-position: -60px -32px;
}
.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-arrow{
	/*background-position: -60px -30px;*/
	background-position: -127px -69px;
}
.ricent-draw-toolbar .ricent-draw-draw-tasks{
	background-position: -150px -32px;
}
.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-tasks{
	/*background-position: -150px -30px;*/
	background-position: -305px -69px;
}
.ricent-draw-toolbar .ricent-draw-draw-tasks.on-task{
	background-image: none;
}
.ricent-retina .ricent-draw-toolbar .ricent-draw-draw-colors,
.ricent-draw-toolbar .ricent-draw-draw-colors{
	background-image: none;
}
.ricent-draw-actions .action_line {
	background-position: -240px -31px;
}
.ricent-touch .ricent-draw-actions .action_line {
	/*background-position: -240px -33px;*/
	background-position: -487px -67px;
}
.ricent-draw-actions .action_rectangle{
	background-position: -180px -31px;
}
.ricent-touch .ricent-draw-actions .action_rectangle{
	/*background-position: -180px -33px;*/
	background-position: -368px -68px;
}
.ricent-draw-actions .action_circle{
	background-position: -210px -31px;
}
.ricent-touch .ricent-draw-actions .action_circle{
	/*background-position: -210px -33px;*/
	background-position: -427px -68px;
}

.ricent-draw-actions div.action_tasks{
	display: inherit;
	width: 160px;
	clear: both;
	overflow: hidden;
}
.ricent-draw-actions div.action_tasks:last-child{
	margin-bottom: 5px;
}
.ricent-touch .ricent-draw-actions div.action_tasks{
	width: 200px;
}

.ricent-draw-actions div.action_tasks a{
	width: 158px;
	background-image: none;
	height: 30px;
	padding: 1px;
}
.ricent-draw-actions div.action_tasks span.text{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	color: #ffffff;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 2px;
	line-height: 24px;
	transform: scale(0.8);
	padding: 3px;
	vertical-align: middle;
}
.ricent-right .ricent-draw-actions div.action_tasks span.desc{
	display: inline-block;
	width: 120px;
	height: 30px;
	white-space: nowrap;
	line-height: 30px;
	overflow: hidden;
	text-overflow:ellipsis;
	float: right;
	text-align: left;
}

.ricent-retina .ricent-draw-actions div.action_colors,
.ricent-draw-actions div.action_colors{
	background-color: rgba(0,0,0,0.8);
	padding: 2px;
}
.ricent-retina .ricent-draw-actions div.action_colors:nth-child(4):after,
.ricent-draw-actions div.action_colors:nth-child(4):after{
	display: inherit;
}
.ricent-retina .ricent-draw-actions div.action_colors a,
.ricent-draw-actions div.action_colors a{
	background-image: none;
	border-radius: 100%;
	width: 16px;
	height: 16px;
	border: 1px solid #ffffff;
}
.ricent-draw-draw-colors span{
	display: inline-block;
	height: 14px;
	width: 14px;
	border-radius: 100%;
	border: 1px solid #ffffff;
	margin-top: 6px;
}
.ricent-touch .ricent-draw-draw-colors span{
	height: 20px;
	width: 20px;
	margin-top: 4px;
}
.ricent-touch.ricent-retina .ricent-draw-actions div.action_colors,
.ricent-touch .ricent-draw-actions div.action_colors{
	padding:5px;
}
.ricent-touch.ricent-retina .ricent-draw-actions div.action_colors a,
.ricent-touch .ricent-draw-actions div.action_colors a{
	width: 24px;
	height: 24px;
}
.ricent-touch .ricent-draw-draw-colors span{
	display: inline-block;
	height: 21px;
	width: 21px;
	border-radius: 100%;
	border: 1px solid #ffffff;
	margin-top: 10px;
}
.ricent-draw-draw-colors.cur-red span,
div.action_colors a.action_red{
	background-color: #e82100!important;
}
.ricent-draw-draw-colors.cur-green span,
div.action_colors a.action_green{
	background-color: #03e900!important;
}
.ricent-draw-draw-colors.cur-yellow span,
div.action_colors a.action_yellow{
	background-color: #eeeb00!important;
}
.ricent-draw-draw-colors.cur-black span,
div.action_colors a.action_black{
	background-color: #000000!important;
}
.ricent-draw-draw-colors.cur-cyan span,
div.action_colors a.action_cyan{
	background-color: #2de9ea!important;
}
.ricent-draw-draw-colors.cur-pink span,
div.action_colors a.action_pink{
	background-color: #f33db2!important;
}
.ricent-draw-draw-colors.cur-orange span,
div.action_colors a.action_orange{
	background-color: #f27d02!important;
}
.ricent-draw-draw-colors.cur-blue span,
div.action_colors a.action_blue{
	background-color: #1459f1!important;
}
/* ================================================================== */
/* Edit toolbar
/* ================================================================== */

.ricent-draw-toolbar .ricent-draw-edit-edit {
	background-position: -152px -2px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-edit-edit {
	background-position: -150px -1px;
}

.ricent-draw-toolbar .ricent-draw-draw-highlighter {
	background-position: -182px -2px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-highlighter {
	/*background-position: -180px -1px;*/
	background-position: -428px -9px;
}

.ricent-draw-toolbar .ricent-draw-draw-pen {
	background-position: -212px -2px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-pen {
	/*background-position: -210px -1px;*/
	background-position: -366px -9px;
}

.ricent-draw-toolbar .ricent-draw-draw-cloud {
	background-position: -240px -2px;
}

.ricent-touch .ricent-draw-toolbar .ricent-draw-draw-cloud {
	/*background-position: -240px 0px;*/
	background-position: -487px -8px;
}

/* ================================================================== */
/* Drawing styles
/* ================================================================== */

.ricent-mouse-marker {
	background-color: #fff;
	cursor: crosshair;
}

.ricent-draw-tooltip {
	background: rgb(54, 54, 54);
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-left: 20px;
	margin-top: -21px;
	padding: 4px 8px;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	z-index: 6;
}

.ricent-draw-tooltip:before {
	border-right: 6px solid black;
	border-right-color: rgba(0, 0, 0, 0.5);
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	position: absolute;
	top: 7px;
	left: -7px;
}

.ricent-error-draw-tooltip {
	background-color: #F2DEDE;
	border: 1px solid #E6B6BD;
	color: #B94A48;
}

.ricent-error-draw-tooltip:before {
	border-right-color: #E6B6BD;
}

.ricent-draw-tooltip-single {
	margin-top: -12px
}

.ricent-draw-tooltip-subtext {
	color: #f8d5e4;
}

.ricent-draw-guide-dash {
	font-size: 1%;
	opacity: 0.6;
	position: absolute;
	width: 5px;
	height: 5px;
}

/* ================================================================== */
/* Edit styles
/* ================================================================== */

.ricent-edit-marker-selected {
	background: rgba(254, 87, 161, 0.6);
	border: 0px dashed rgba(254, 87, 161, 0.6);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.ricent-edit-move {
	cursor: move;
}

.ricent-edit-resize {
	cursor: pointer;
}

/* ================================================================== */
/* Old IE styles
/* ================================================================== */

.ricent-oldie .ricent-draw-toolbar {
	border: 3px solid #999;
}

.ricent-oldie .ricent-draw-toolbar a {
	background-color: #eee;
}

.ricent-oldie .ricent-draw-toolbar a:hover {
	background-color: #fff;
}

.ricent-oldie .ricent-draw-actions {
	left: 32px;
	margin-top: 3px;
}

.ricent-oldie .ricent-draw-actions div.action {
	display: inline;
	zoom: 1;
}

.ricent-oldie .ricent-edit-marker-selected {
	border: 4px dashed #fe93c2;
}

.ricent-oldie .ricent-draw-actions a {
	background-color: #999;
}

.ricent-oldie .ricent-draw-actions a:hover {
	background-color: #a5a5a5;
}

.ricent-oldie .ricent-draw-actions-top a {
	margin-top: 1px;
}

.ricent-oldie .ricent-draw-actions-bottom a {
	height: 28px;
	line-height: 28px;
}

.ricent-oldie .ricent-draw-actions-top.ricent-draw-actions-bottom a {
	height: 27px;
	line-height: 27px;
}

.ricent-container{
	background: #ffffff;
}
.ricent-touch a.ricent-control-fullscreen-button {
	background-position: 0px 0px;
}
.ricent-fullscreen-on a.ricent-control-fullscreen-button {
	background-position:-30px 0px;
}
.ricent-touch.ricent-fullscreen-on a.ricent-control-fullscreen-button {
	background-position: -30px -2px;
}

/***********
 SXT
************/

.ricent-popup-content{
	margin: 5px 5px 5px 5px;
	color:#f4f4f4;
}
.ricent-popup-content-wrapper{
	border-radius:5px;
	background:rgba(0,0,0,0.85);
}
.ricent-popup-content-wrapper, .ricent-popup-tip{
	background:rgba(0,0,0,0.85);
}

.ricent-div-numberMarker {
	background: #fff;
	border: 1px solid #666;
	border-radius: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px!important;
	height: 20px!important;
	position: absolute;
	box-sizing: content-box;
}
.ricent-div-numberMarker.ricent-edit-marker-selected{
	background: rgba(254, 87, 161, 0.1);
	border: 1px dashed rgba(254, 87, 161, 0.6);
}
.ricent-div-numberMarker .ricent-div-numberMarker-tip{
	position: absolute;
	top:-30px;
	left:-15px;
	background-color:#f8d5e4;
	height: 20px;
	width: 50px;
	line-height: 20px;
}
.ricent-div-numberMarker .ricent-div-numberMarker-tip:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #f8d5e4;
	top: 100%;
	left: 20px;
}
/* ================================================================== */
/* Toolbar actions menu
/* ================================================================== */

.ricent-draw-subbuttom {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 26px; /* ricent-draw-toolbar.left + ricent-draw-toolbar.width */
	top: 0;
	white-space: nowrap;
}
.ricent-popup-content-wrapper .ricent-draw-subbuttom{
	display: block;
	position:inherit;
	padding: 4px;
}
.ricent-popup-content-wrapper .ricent-draw-subbuttom ul li a{
	color:white;
	display: inline-block;
	padding: 6px 10px;
	text-decoration: none;
	border:solid 1px rgb(85, 85, 85);
	border-radius: 5px!important;
}
.ricent-popup-content-wrapper .ricent-draw-subbuttom ul li{
	border-right-width: 2px;
	border-right-color: transparent;
}
.ricent-popup-content-wrapper .ricent-draw-subbuttom:after,.ricent-popup-content-wrapper .ricent-draw-subbuttom:before {
	right: -14px;
	top: 9px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ricent-popup-content-wrapper .ricent-draw-subbuttom:after {
	border-width: 0;
}
.ricent-draw-subbuttom ul{
	margin: 0;
	padding: 0;
}
.ricent-draw-subbuttom:after, .ricent-draw-subbuttom:before {
	right: -14px;
	top: 17px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ricent-bar a, .ricent-bar a:hover{
	line-height: 30px;
}
.ricent-draw-subbuttom:after {
	border-color: rgba(241, 241, 241, 0);
	border-left-color: rgba(0,0,0,0.65);
	border-width: 7px;
}

/*
.ricent-touch .ricent-draw-subbuttom {
    left: 38px;
}
*/

.ricent-right .ricent-draw-subbuttom {
	right:60px;
	left:auto;
}

/*.ricent-touch .ricent-right .ricent-draw-subbuttom {
    right:34px;
    left:auto;
}*/

.ricent-draw-subbuttom li {
	display: inline-block;
	border-right: 1px solid rgb(204, 204, 204);
}
.ricent-draw-subbuttom li:last-child{
	border-right: none;
}

.ricent-draw-subbuttom li:first-child a {
	border-left: none;
}
.ricent-draw-subbuttom li a{
	-webkit-border-radius: 0!important;
	border-radius: 0!important;
}
.ricent-draw-subbuttom li:last-child a {
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.ricent-right .ricent-draw-subbuttom li:last-child a {
	-webkit-border-radius: 0 4px 4px 0px!important;
	border-radius: 0 4px 4px 0px!important;
}

.ricent-right .ricent-draw-subbuttom li:first-child a {
	-webkit-border-radius: 4px 0 0 4px!important;
	border-radius: 4px 0 0 4px!important;
}


/*.ricent-touch .ricent-draw-subbuttom a {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}*/

.ricent-draw-subbuttom-bottom {
	margin-top: 0;
}

.ricent-draw-subbuttom-top {
	margin-top: 1px;
}

.ricent-draw-subbuttom-top a,
.ricent-draw-subbuttom-bottom a {
	height: 27px;
	line-height: 27px;
}

.ricent-draw-subbuttom a:hover {
	background-color: #0066ce;
}

.ricent-draw-subbuttom-top.ricent-draw-subbuttom-bottom a {
	height: 26px;
	line-height: 26px;
}
.ricent-retina .ricent-draw-toolbar a.ricent-draw-draw-color {
	background-image: none;
}
a.ricent-draw-draw-color div{
	height: 26px;
	width:26px;
	border-radius: 100%;
	border: solid 7px #585858;
	margin:0 auto;
}

a.ricent-draw-draw-color:hover div{
	border-color:#2c2c2c;

}
.ricent-draw-actions a div{
	margin-left:-10px;
	margin-right:-10px;
	height: 26px;
	width:26px;
	border-radius: 100%;
	border: solid 7px #919187;
}
.ricent-draw-actions a:hover div{
	border: solid 7px #A0A098;
}
.ricent-draw-actions a div.red{
	background-color:#ff0000;
}
.ricent-draw-actions a div.pink{
	background-color:#e91e63;
}
.ricent-draw-actions a div.purple{
	background-color:#9c27b0;
}
.ricent-draw-actions a div.blue{
	background-color:#5677fc;
}
.ricent-draw-actions a div.teal{
	background-color:#009688;
}
.ricent-draw-actions a div.orange{
	background-color:#ff9800;
}
.ricent-draw-actions a div.grey{
	background-color:#9e9e9e;
}
/*.ricent-touch .ricent-bar, .ricent-touch .ricent-control-layers{
    border:0;
}*/
/*.ricent-popup-close-button {*/
/*display:none;*/
/*}*/
.ricent-label-overlay {
	line-height:0px;
	margin-top: 9px;
	position:absolute;
}
.ricent-contextmenu {
	display: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 0;
	background-color: #fff;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.ricent-contextmenu a.ricent-contextmenu-item {
	display: block;
	color: #222;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	padding: 0 12px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: default;
	outline: none;
}

.ricent-contextmenu a.ricent-contextmenu-item-disabled {
	opacity: 0.5;
}

.ricent-contextmenu a.ricent-contextmenu-item.over {
	background-color: #f4f4f4;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.ricent-contextmenu a.ricent-contextmenu-item-disabled.over {
	background-color: inherit;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.ricent-contextmenu-icon {
	margin: 2px 8px 0 0;
	width: 16px;
	height: 16px;
	float: left;
	border: 0;
}

.ricent-contextmenu-separator {
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
}
.ricent-container{
	background-color:#ffffff;
}
.ricent-touch .ricent-draw-actions div.action_tasks span.text{
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	color: #ffffff;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 2px;
	line-height: 37px;
	transform: scale(0.8);
	padding: 3px;
	vertical-align: middle;
}
.ricent-touch .ricent-right .ricent-draw-actions div.action_tasks span.desc{
	display: inline-block;
	width: 140px;
	height: 45px;
	white-space: nowrap;
	line-height: 45px;
	overflow: hidden;
	text-overflow:ellipsis;
	float: right;
	text-align: left;
}

.ricent-touch .ricent-draw-actions div.action_tasks a{
	width: 190px;
	background-image: none;
	height: 45px;
	padding: 1px;
}




.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.ricent-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
}
.ricent-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
}

.ricent-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
}
.ricent-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
}

.ricent-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
}
.ricent-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}
/***--------------------------

.marker-cluster

 -----------------------------*/
.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}
.ricent-cluster-anim .ricent-marker-icon, .ricent-cluster-anim .ricent-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.ricent-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with ricent-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/** ----------------
 Search
 */


.ricent-container .ricent-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:1000;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	margin-left: 10px;
	margin-top: 10px;
}
.ricent-control-search.search-exp {/*expanded*/
	box-shadow: 0 1px 7px #999;
	background: #fff;
}
.ricent-control-search .search-input {
	display:block;
	float:left;
	background: #fff;
	border:1px solid #666;
	border-radius:2px;
	height:18px;
	padding:0 18px 0 2px;
	margin:3px 0 3px 3px;
}
.ricent-control-search.search-load .search-input {
	background: url('../images/loader.gif') no-repeat center right #fff;
}
.ricent-control-search.search-load .search-cancel {
	visibility:hidden;
}
.ricent-control-search .search-cancel {
	display:block;
	width:22px;
	height:18px;
	position:absolute;
	right:22px;
	margin:3px 0;
	background: url('../images/search-icon.png') no-repeat 0 -46px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.ricent-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.ricent-control-search .search-cancel span {
	display:none;/* comment for cancel button imageless */
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.ricent-control-search .search-cancel:hover span {
	color:#aaa;
}
.ricent-control-search .search-button {
	display:block;
	float:left;
	width:26px;
	height:26px;
	background: url('../images/search-icon.png') no-repeat 2px 2px #fff;
	border-radius:4px;
}
.ricent-control-search .search-button:hover {
	background: url('../images/search-icon.png') no-repeat 2px -22px #fafafa;
}
.ricent-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	list-style: none;
	min-width:130px;
	max-height: 150px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
	padding: 0;
	margin: 0;
	background: white;
}
.ricent-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:black;
	text-decoration:none;
	white-space:nowrap;
	vertical-align:center;
}
.ricent-control-search .search-button:hover {
	background-color: #f4f4f4;
}
.ricent-control-search .search-tip-select,
.ricent-control-search .search-tip:hover {
	background-color: #fff;
}
.ricent-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size:.75em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:.25em;
}


